<div class="right-col">
  <h1 id="Introduction">Introduction</h1>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>

  <h2 id="Versions">Versions supportées:</h2>

  <p><b>Version d'application 1.0.0.</b> ELDOWALLET : V1.0.0</p>

  <h2>À propos de cette application</h2>

  <p>
    Plateforme 100% cloud de gestion des programmes de fidélité et d'offres
    marketing mobile.
  </p>

  <h2 id="Technologie">Technologie</h2>

  <p>
    <strong>React JS : </strong>
    Our front-end is built using ReactJS<br />
    a popular JavaScript library for building user interfaces. React's
    component-based architecture allows us to create reusable UI components for
    a responsive and interactive user interface.
  </p>

  <p>
    <strong>Nest JS : </strong>
    Our back-end is powered by NestJS<br />
    a progressive Node.js framework. It leverages TypeScript to build scalable
    and maintainable server-side applications.
  </p>

  <p>
    <strong>MongoDB : </strong>
    We utilize MongoDB, a NoSQL database, for storing and managing our data.
    Mention the version and any specific configurations relevant to your
    project.
  </p>

  <div class="divider" style="width: 24%; margin: 30px 0"></div>

  <h1 id="Débutez">Débutez</h1>

  <h2>Pourquoi ?</h2>

  <p>
    Le wallet mobile simplifie la vie de plus de 2 milliards d’utilisateurs dans
    le monde pour des usages quotidiens, d’ici un an ils seront 4 milliards.
  </p>

  <p>
    10x plus efficace qu’un email ou un SMS (et 30% moins cher), d’une
    simplicité extrême pour vos clients et vos équipes. Utile et pratique avec
    votre carte personnalisée dans leur wallet, ils ont accès aux informations
    clés que vous leur délivrez.
  </p>

  <p>
    Proposer des parcours simplifiants, digitaux, via le smartphone de vos
    clients n’est plus une option. Avec le wallet vous êtes dans le match !
  </p>

  <p id="installingapp">
    <b>Important:</b> Le wallet est présent dans 99% des smartphones de vos
    clients. De ce fait, il n’est plus nécessaire d’obtenir leurs consentements,
    puisque déjà accordés à Apple, Google ou Samsung.
  </p>

  <h2>Comment ça marche</h2>

  <p>le meilleur système de portefeuille intelligent en 2023.</p>

  <ol>
    <li>Inscription.</li>
    <br />
    <li>Créez un coupon et envoyez-le à vos clients.</li>
    <br id="openingapp" />
    <li>accueillir des milliers de clients.</li>
    <br />
  </ol>

  <h2 id="Opening">Opening the app</h2>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.
  </p>

  <ol>
    <li>The first thing you need to do to open this app.</li>
    <br />
    <li>The second thing you need to do to open this app.</li>
    <br />
    <li>The third thing you need to do to open this app.</li>
    <br />
    <li>Open the app and start using it!</li>
    <br />
  </ol>

  <p id="basicfeatures">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.
  </p>

  <div class="divider" style="width: 24%; margin: 30px 0"></div>
  <!-- 
  
  
  
Authenticiation Module



 -->
  <div id="authentification"></div>
  <h1>Authenticiation Module</h1>

  <h3 id="description">Description:</h3>

  <p>
    Ce module permet aux utilisateurs de se connecter à un portefeuille et
    d'accéder à ses services.
  </p>

  <h3 id="login">Login</h3>

  <p>
    <strong>HTTP Request Header : </strong>
    <br /><br />
    <b>Method:</b> POST
    <br />
    <br />
    <b>URL</b> {{ "/api/wallets/" }}
    <br />
    <br />
    <b> Host</b> https://wallets.fr
    <br />
    <br />
    <strong>HTTP Request Body (json):</strong>
    <br />
    <br />
    <a class="code_btn" type="button" (click)="openCloseDrawer()">Code</a>
  </p>
  <h3>Response</h3>
  <app-response-tbl2 [responses2]="loginResponses1"></app-response-tbl2>

  <div class="divider" style="width: 24%; margin: 30px 0"></div>
  <!-- 
  
  
  
  Manage Wallets Module



 -->
  <h1 id="ManageWallets ">Manage Wallets Module</h1>

  <h3>Description:</h3>

  <p>
    Ce module permet aux utilisateurs d'établir et de superviser des
    portefeuilles numériques au sein de l'application Eldowallet, offrant la
    possibilité de déposer des fonds, de consulter l'historique des transactions
    et d'accéder aux statistiques liées à diverses activités de portefeuille.
  </p>
  <h2 id="UpdateWallet">Update WALLETS:</h2>
  <h3>HTTP Request Header :</h3>
  <p>
    <b>Method:</b> PUT
    <br />
    <br />
    <b>URL</b> {{ "/api/wallets/{id}" }}
    <br />
    <br />
    <b> Host</b> https://wallets.fr
    <br />
    <br id="feature3" />
    <b>x-api-key</b> {{ "{x-api-key}" }}
    <br />
    <br />
    <b>Accept</b> application/json
    <br />
    <br />
    <b>Content-Type</b> multipart/form-datadat
    <br />
    <br />
    <b>Authorization</b> {{ '"abc {****************************}"' }} (Please
    replace asterisks with the actual authorization token)
    <br />
    <br />
    <a class="code_btn" type="button" (click)="openCloseDrawer()">Code</a>
  </p>
  <h3>HTTP request body:</h3>
  <app-response [responses]="loginResponses"></app-response>
  <h3>Response</h3>
  <app-response-tbl2 [responses2]="UpdateWALLETSResponses"></app-response-tbl2>

  <h2 id="GetWALLETS">Get WALLETS Informations:</h2>
  <h3>HTTP Request Header:</h3>
  <p>
    <b>Method:</b> GET
    <br />
    <br />
    <b>URL</b> {{ "/api/wallets/{id}" }}
    <br />
    <br />
    <b> Host</b> https://wallets.fr
    <br />
    <br id="" />
    <b>x-api-key</b> {{ "{x-api-key}" }}
    <br />
    <br />
    <b>Authorization</b> {{ '"abc {****************************}"' }} (Please
    replace asterisks with the actual authorization token)
    <br />
    <br />
    <a class="code_btn" type="button" (click)="openCloseDrawer()">Code</a>
  </p>
  <h3>Response</h3>
  <app-response-tbl2 [responses2]="GetWALLETSResponses"></app-response-tbl2>

  <div class="divider" style="width: 24%; margin: 30px 0"></div>
  <!-- 
  
  
  
  Manage Customers Module



 -->
  <h1 id="ManageCustomers">Manage Customers Module</h1>

  <h3>Description</h3>

  <p>
    Le module « Gérer les clients » permet aux gestionnaires de gérer
    efficacement les données clients provenant de diverses sources.
  </p>
  <h2 id="CreateCustomers">Create Customers</h2>
  <h3>HTTP Request Header:</h3>
  <p>
    <b>Method:</b> POST
    <br />
    <br />
    <b>URL</b> {{ " https://wallets.fr/api/customers " }}
    <br />
    <br />
    <b> Host</b> https://wallets.fr
    <br />
    <br id="" />
    <b>x-api-key</b> {{ "{x-api-key}" }}
    <br />
    <br />
    <b>Accept</b> {{ "application/json " }}
    <br />
    <br />
    <b>Content-Type:</b> {{ "application/json" }}
    <br />
    <br />
    <b>Authorization</b> {{ '"abc {****************************}"' }} (Please
    replace asterisks with the actual authorization token)
  </p>
  <h3>HTTP Request Body:</h3>
  <a class="code_btn" type="button" (click)="openCloseDrawer()">Code</a>
  <h3>Response</h3>
  <app-response-tbl2
    [responses2]="CreateCustomersResponses"
  ></app-response-tbl2>

  <h2 id="UpdateCustomer">Update Customer</h2>
  <h3>HTTP Request Header:</h3>
  <p>
    <b>Method:</b> PUT
    <br />
    <br />
    <b>URL</b> {{ " https://wallets.fr/api/customers/{customer_id} " }}
    <br />
    <br />
    <b> Host</b> https://wallets.fr
    <br />
    <br id="" />
    <b>x-api-key</b> {{ "{x-api-key}" }}
    <br />
    <br />
    <b>Accept</b> {{ "application/json " }}
    <br />
    <br />
    <b>Content-Type:</b> {{ "application/json" }}
    <br />
    <br />
    <b>Authorization</b> {{ '"abc {****************************}"' }} (Please
    replace asterisks with the actual authorization token)
  </p>
  <h3>HTTP Request Body:</h3>
  <a class="code_btn" type="button" (click)="openCloseDrawer()">Code</a>
  <h3>Response</h3>
  <app-response-tbl2
    [responses2]="UpdateCustomersResponses"
  ></app-response-tbl2>

  <h2 id="GetCustomer">Get Customer informations</h2>
  <h3>HTTP Request Header:</h3>
  <p>
    <b>Method:</b> GET
    <br />
    <br />
    <b>URL</b>
    {{ " https://wallets.fr/api/customers/{customer_id}/informations" }}
    <br />
    <br />
    <b> Host</b> https://wallets.fr
    <br />
    <br id="" />
    <b>x-api-key</b> {{ "{x-api-key}" }}
    <br />
    <br />
    <b>Authorization</b> {{ '"abc {****************************}"' }} (Please
    replace asterisks with the actual authorization token)
  </p>
  <h3>Response</h3>
  <app-response-tbl2 [responses2]="GetCustomerResponses"></app-response-tbl2>

  <h2>Delete Customer</h2>
  <h3>HTTP Request Header:</h3>
  <p>
    <b>Method:</b> DELETE
    <br />
    <br />
    <b>URL</b> {{ " https://wallets.fr/api/customers/{customer_id}" }}
    <br />
    <br />
    <b> Host</b> https://wallets.fr
    <br />
    <br id="" />
    <b>x-api-key</b> {{ "{x-api-key}" }}
    <br />
    <br />
    <b>Accept</b> {{ "application/json " }}
    <br />
    <br />
    <b>Content-Type:</b> {{ "multipart/form-datadat" }}
    <br />
    <br />
    <b>Authorization</b> {{ '"abc {****************************}"' }} (Please
    replace asterisks with the actual authorization token)
  </p>
  <h3>Response</h3>
  <app-response-tbl2 [responses2]="DeleteCustomerResponses"></app-response-tbl2>

  <div class="doublespace"></div>
  <div class="divider" style="width: 24%; margin: 30px 0"></div>

  <h1 id="ManageOffersModule">Manage Offers Module</h1>
  <h2>Description</h2>
  <p>
    The "Manage Offers Module" empowers managers with the capability to create,
    update, and oversee a wide array of promotional offers and deals within the
    Eldowallet app. This module enables businesses to effortlessly design,
    schedule, and track the performance of special promotions, thereby enhancing
    the overall customer experience and bolstering user engagement with the
    platform.
  </p>
  <h2 id="CreateOffer">Create Offer</h2>
  <h3>HTTP Request Header:</h3>
  <p>
    <b>Method:</b> POST
    <br />
    <br />
    <b>URL</b> {{ "/api/wallets/{id}/offers " }}
    <br />
    <br />
    <b> Host</b> https://wallets.fr
    <br />
    <br id="" />
    <b>x-api-key</b> {{ "{x-api-key}" }}
    <br />
    <br />
    <b>Authorization</b> {{ '"abc {****************************}"' }} (Please
    replace asterisks with the actual authorization token)
  </p>
  <h3>HTTP Request body:</h3>
  <app-response [responses]="CreateOfferResponses"></app-response>
  <h3>Response</h3>
  <app-response-tbl2 [responses2]="CreateOfferResponses2"></app-response-tbl2>
  <h2 id="GetOffers">Get Offers</h2>
  <h3>HTTP Request Header:</h3>
  <p>
    <b>Method:</b> GET
    <br />
    <br />
    <b>URL</b> {{ "/api/wallets/{id}/offers/{id}" }}
    <br />
    <br />
    <b> Host</b> https://wallets.fr
    <br />
    <br id="" />
    <b>x-api-key</b> {{ "{x-api-key}" }}
    <br />
    <br />
    <b>Authorization</b> {{ '"abc {****************************}"' }} (Please
    replace asterisks with the actual authorization token)
  </p>
  <h3>Response</h3>
  <app-response-tbl2 [responses2]="GetOffersResponses2"></app-response-tbl2>

  <div class="doublespace"></div>
  <div class="divider" style="width: 24%; margin: 30px 0"></div>

  <!-- 
  
  
  
  Manage Customers Module



 -->

  <button (click)="logData()">cliq me</button>
  <div class="doublespace"></div>
  <div class="divider" style="width: 24%; margin: 30px 0"></div>
</div>
