.code_btn{
    width: 150px;
    height: 25px;
    background-color: #97e602;
    color: #242933;
    border:1px solid #97e602;
    border-radius: 5px;
    font-size: large;
    font-weight: 600;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    
}