<div class="right-col">
  <h1>Introduction</h1>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>

  <h2>Versions supportées:</h2>

  <p><b>Version d'application 1.0.0.</b> ELDOWALLET : V1.0.0</p>

  <h2>À propos de cette application</h2>

  <p>
    Plateforme 100% cloud de gestion des programmes de fidélité et d'offres
    marketing mobile.
  </p>

  <h2 id="technology">Technologie</h2>

  <p>
    <strong>React JS : </strong>
    Our front-end is built using ReactJS<br />
    a popular JavaScript library for building user interfaces. React's
    component-based architecture allows us to create reusable UI components for
    a responsive and interactive user interface.
  </p>

  <p>
    <strong>Nest JS : </strong>
    Our back-end is powered by NestJS<br />
    a progressive Node.js framework. It leverages TypeScript to build scalable
    and maintainable server-side applications.
  </p>

  <p id="gettingstarted">
    <strong>MongoDB : </strong>
    We utilize MongoDB, a NoSQL database, for storing and managing our data.
    Mention the version and any specific configurations relevant to your
    project.
  </p>

  <div class="divider" style="width: 24%; margin: 30px 0"></div>

  <h1>Débutez</h1>

  <h2>Pourquoi ?</h2>

  <p>
    Le wallet mobile simplifie la vie de plus de 2 milliards d’utilisateurs dans
    le monde pour des usages quotidiens, d’ici un an ils seront 4 milliards.
  </p>

  <p>
    10x plus efficace qu’un email ou un SMS (et 30% moins cher), d’une
    simplicité extrême pour vos clients et vos équipes. Utile et pratique avec
    votre carte personnalisée dans leur wallet, ils ont accès aux informations
    clés que vous leur délivrez.
  </p>

  <p>
    Proposer des parcours simplifiants, digitaux, via le smartphone de vos
    clients n’est plus une option. Avec le wallet vous êtes dans le match !
  </p>

  <p id="installingapp">
    <b>Important:</b> Le wallet est présent dans 99% des smartphones de vos
    clients. De ce fait, il n’est plus nécessaire d’obtenir leurs consentements,
    puisque déjà accordés à Apple, Google ou Samsung.
  </p>

  <h2>Comment ça marche</h2>

  <p>le meilleur système de portefeuille intelligent en 2023.</p>

  <ol>
    <li>Inscription.</li>
    <br />
    <li>Créez un coupon et envoyez-le à vos clients.</li>
    <br id="openingapp" />
    <li>accueillir des milliers de clients.</li>
    <br />
  </ol>

  <h2>Opening the app</h2>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.
  </p>

  <ol>
    <li>The first thing you need to do to open this app.</li>
    <br />
    <li>The second thing you need to do to open this app.</li>
    <br />
    <li>The third thing you need to do to open this app.</li>
    <br />
    <li>Open the app and start using it!</li>
    <br />
  </ol>

  <p id="basicfeatures">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.
  </p>

  <div class="divider" style="width: 24%; margin: 30px 0"></div>

  <h1 id="authentification">Authentification du module</h1>

  <h3>Description:</h3>

  <p id="description">
    Ce module permet aux utilisateurs de se connecter à un portefeuille et
    d'accéder à ses services.
  </p>

  <h3 id="login">Login</h3>

  <p>
    <strong>HTTP Request Header : </strong>
    <br /><br />
    <b>Method:</b> POST
    <br />
    <br />
    <b>URL</b> {{ "/api/wallets/" }}
    <br />
    <br />
    <b> Host</b> https://wallets.fr
    <br />
    <br />
    <strong>HTTP Request Body (json):</strong>
    <br />
    <br />
    <a class="code_btn" type="button" (click)="openCloseDrawer()">Code</a>
  </p>
  <h3>Response</h3>
  <table>
    <tr style="text-align: center">
      <th>Status Code</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>200</td>
      <td>Successful login</td>
    </tr>
    <tr>
      <td>400</td>
      <td>Please provide user name and password!</td>
    </tr>
    <tr>
      <td>401</td>
      <td>Unauthorized</td>
    </tr>
  </table>

  <div class="divider" style="width: 24%; margin: 30px 0"></div>

  <h1>Manage Wallets Module</h1>

  <h3>Description:</h3>

  <p>
    Ce module permet aux utilisateurs d'établir et de superviser des
    portefeuilles numériques au sein de l'application Eldowallet, offrant la
    possibilité de déposer des fonds, de consulter l'historique des transactions
    et d'accéder aux statistiques liées à diverses activités de portefeuille.
  </p>
  <h2>Update WALLETS:</h2>
  <h3>HTTP Request Header :</h3>
  <p>
    <b>Method:</b> PUT
    <br />
    <br />
    <b>URL</b> {{ "/api/wallets/{id}" }}
    <br />
    <br />
    <b> Host</b> https://wallets.fr
    <br />
    <br id="feature3" />
    <b>x-api-key</b> {{ "{x-api-key}" }}
    <br />
    <br />
    <b>Accept</b> application/json
    <br />
    <br />
    <b>Content-Type</b> multipart/form-datadat
    <br />
    <br />
    <b>Authorization</b> {{ '"abc {****************************}"' }} (Please
    replace asterisks with the actual authorization token)
    <br />
    <br />
    <a class="code_btn" type="button" (click)="openCloseDrawer()">Code</a>
  </p>
  <h3>HTTP request body:</h3>
  <app-response [responses]="loginResponses"></app-response>
  <h3>Response</h3>
  <table>
    <tr style="text-align: center">
      <th>Status Code</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>200</td>
      <td style="padding-left: 10px">
        <b>Status: Success </b>
        <br />
        <br />
        <b>Business Details: </b>
        <br />
        ID: string
        <br />
        Name: string
        <br />
        Business Phone: string
        <br />
        Website: string
        <br />
        Address: string
        <br />
        Opening Hours: string
        <br />
        Identifier QR: string
        <br />
        Identifier: string
        <br />
        Gain Unit: string
        <br />
        <br />
        <b>Visual Identity:</b>
        <br />
        Label Color: Hexadecimal: string; RGB: string
        <br />
        Background Color: Hexadecimal: string; RGB: string
        <br />
        Foreground Color: Hexadecimal: string; RGB: string
        <br />
        <br />
        <b> Media Links: </b>
        <br />
        Facebook:string
        <br />
        Instagram:string
        <br />
        Linkedin:string
        <br />
        <br />
        <b>Logo and Visuals: </b>
        <br />
        Logo Picture URL: string
        <br />
        Icon Picture URL: string
        <br />
        Strip Picture URL: string
      </td>
    </tr>
    <tr>
      <td>404</td>
      <td style="padding-left: 10px">Wallet not found</td>
    </tr>
  </table>

  <h1>Get WALLETS Informations:</h1>
  <h3>HTTP Request Header:</h3>
  <p>
    <b>Method:</b> GET
    <br />
    <br />
    <b>URL</b> {{ "/api/wallets/{id}" }}
    <br />
    <br />
    <b> Host</b> https://wallets.fr
    <br />
    <br id="" />
    <b>x-api-key</b> {{ "{x-api-key}" }}
    <br />
    <br />
    <b>Authorization</b> {{ '"abc {****************************}"' }} (Please
    replace asterisks with the actual authorization token)
    <br />
    <br />
    <a class="code_btn" type="button" (click)="openCloseDrawer()">Code</a>
  </p>
  <h3>Response</h3>
  <table>
    <tr style="text-align: center">
      <th>Status Code</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>200</td>
      <td style="padding-left: 10px">
        <b>Status: Success </b>
        <br />
        <br />
        <b>Business Details: </b>
        <br />
        ID: string
        <br />
        Name: string
        <br />
        Business Phone: string
        <br />
        Service Phone: string
        <br />
        Website: string
        <br />
        Address: string
        <br />
        Opening Hours: string
        <br />
        Identifier QR: string
        <br />
        Identifier: string
        <br />
        Gain Unit: string
        <br />
        <br />
        <b>Visual Identity:</b>
        <br />
        Label Color: Hexadecimal: string; RGB: string
        <br />
        Background Color: Hexadecimal: string; RGB: string
        <br />
        Foreground Color: Hexadecimal: string; RGB: string
        <br />
        <br />
        <b> Media Links: </b>
        <br />
        Facebook:string
        <br />
        Instagram:string
        <br />
        Linkedin:string
        <br />
        <br />
        <b>Logo and Visuals: </b>
        <br />
        Logo Picture URL: string
        <br />
        Icon Picture URL: string
        <br />
        Strip Picture URL: string
      </td>
    </tr>
    <tr>
      <td>404</td>
      <td style="padding-left: 10px">Wallet not found</td>
    </tr>
  </table>

  <h1>Get WALLETS Informations</h1>
  <h3>HTTP Request Header:</h3>
  <p>
    <b>Method:</b> GET
    <br />
    <br />
    <b>URL</b> {{ "/api/wallets/{id}" }}
    <br />
    <br />
    <b> Host</b> https://wallets.fr
    <br />
    <br id="" />
    <b>x-api-key</b> {{ "{x-api-key}" }}
    <br />
    <br />
    <b>Authorization</b> {{ '"abc {****************************}"' }} (Please
    replace asterisks with the actual authorization token)
    <br />
    <br />
    <a class="code_btn" type="button" (click)="openCloseDrawer()">Code</a>
  </p>
  <h3>Response</h3>
  <table>
    <tr style="text-align: center">
      <th>Status Code</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>200</td>
      <td style="padding-left: 10px">
        <b>Status: Success </b>
        <br />
        <br />
        <b>Business Details: </b>
        <br />
        ID: string
        <br />
        Name: string
        <br />
        Business Phone: string
        <br />
        Service Phone: string
        <br />
        Website: string
        <br />
        Address: string
        <br />
        Opening Hours: string
        <br />
        Identifier QR: string
        <br />
        Identifier: string
        <br />
        Gain Unit: string
        <br />
        <br />
        <b>Visual Identity:</b>
        <br />
        Label Color: Hexadecimal: string; RGB: string
        <br />
        Background Color: Hexadecimal: string; RGB: string
        <br />
        Foreground Color: Hexadecimal: string; RGB: string
        <br />
        <br />
        <b> Media Links: </b>
        <br />
        Facebook:string
        <br />
        Instagram:string
        <br />
        Linkedin:string
        <br />
        <br />
        <b>Logo and Visuals: </b>
        <br />
        Logo Picture URL: string
        <br />
        Icon Picture URL: string
        <br />
        Strip Picture URL: string
      </td>
    </tr>
    <tr>
      <td>404</td>
      <td style="padding-left: 10px">Wallet not found</td>
    </tr>
  </table>

  <!-- 





  
 -->
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur.
    <br id="advanced" />
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.
  </p>

  <div class="divider" style="width: 24%; margin: 30px 0"></div>

  <h1>Advanced Features</h1>

  <h2>Feature A</h2>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur.
    <br />
    <br id="featureb" />
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.
  </p>

  <h2>Feature B</h2>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.
    <br />
    <br id="featurec" />
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit
    amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua.
  </p>

  <h2>Feature C</h2>

  <p id="featurec1">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.
  </p>

  <h2>Feature C.1</h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit:</p>

  <ul>
    <li>
      <b>Point 1</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br />
    </li>

    <li>
      <b>Point 2</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor.
    </li>
    <br id="featurec2" />
    <li>
      <b>Point 3</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      <br />
    </li>
  </ul>

  <h2>Feauture C.2</h2>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.
    <br />
    <br />
    <b>Important:</b> Please notice that lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua.
    <br />
    <br />
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>

  <h2>Feature D</h2>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit
    amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua.
    <br />
    <br id="accesibility" />
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>

  <div class="divider" style="width: 24%; margin: 30px 0"></div>

  <h1>Accessibility</h1>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit
    amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua.
    <br />
    <br />
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.
    <br />
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>

  <p>
    Lorem ipsum dolor sit amet. <br id="moreinfo" />Lorem ipsum dolor sit amet,
    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua.
  </p>

  <div class="divider" style="width: 24%; margin: 30px 0"></div>

  <h1>More Info</h1>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.marks are protected by
    intellectual property rights.
  </p>

  <div class="doublespace"></div>
  <div class="divider" style="width: 24%; margin: 30px 0"></div>
</div>
