<div class="sidepanel">
  <a class="title" href="#Introduction">Introduction </a>

  <a class="section" href="#Versions ">Versions supportées</a>
    <a class="section" href="#Technologie">Technologie</a>
    <a class="section" href="#Débutez">Débutez</a>
    <a class="section" href="#Opening">Opening the app</a>
    
    <div class="divider left"></div>

    <a class="title" href="#authentification">Authenticiation Module</a>

    <a class="section" href="#description">Description</a>
    <a class="section" href="#login">Login</a>
    

    <div class="divider left"></div>

    <a class="title" href="#ManageWallets">Manage Wallets Module</a>

    <a class="section" href="#UpdateWallet">Update WALLETS</a>
    <!--<a class="section" href="#openingapp">HTTP Request body</a>-->
    <a class="section" href="#GetWALLETS">Get WALLETS Informations</a>

    <div class="divider left"></div>

    <a class="title" href="#ManageCustomers">Manage Customers Module</a>

    <a class="section" href="#CreateCustomers">Create Customers</a>
    <a class="section" href="#UpdateCustomer">Update Customer</a>
    <a class="section" href="#feature3">Get Customer informations</a>

    <div class="divider left"></div>

    <a class="title" href="#advanced">Manage Offers Module</a>

    <a class="section" href="#advanced">Create Offer</a>
    <a class="section" href="#featureb">Get Offers</a>
    <!--<a class="section" href="#featurec">Feature C</a>
    <a class="sub-section" href="#featurec1">Feature C.1</a>
    <a class="sub-section" href="#featurec2">Feature C.2</a>
    <a class="section" href="#featured">Feature D</a>-->

    <div class="divider left"></div>

    <a class="title" href="#accesibility">Manage Coupon Module</a>
    <a class="section" href="#advanced">Create Coupon</a>
    <a class="section" href="#featureb">Update Coupon</a>
    <a class="section" href="#featurec">Send Coupon for actif customers</a>
    <a class="section" href="#featurec">Send Coupon for inactive customers</a>
    <a class="section" href="#featurec">Get Coupon</a>
    <a class="section" href="#featurec">Update Coupon for Specific Customer</a>



    <div class="divider left"></div>

    <a class="title" href="#moreinfo">More Info</a>

    <div class="space double"></div>
  </div>