<div
  class="wrapper"
  [ngClass]="{
    opened: drawerState == 'opened',
    closed: drawerState == 'closed',
    wide: drawerState == 'wide'
  }"
>
<div style="display: flex">
  <a class="button-container red" (click)="changeDrawerState('closed')">
    <i class="fa-solid fa-xmark" style="font-size: x-small"></i>
  </a>
  <a class="button-container yellow" (click)="changeDrawerState('opened')">
    <i class="fa-solid fa-minus" style="font-size: x-small"></i>
  </a>
  <a class="button-container green" (click)="changeDrawerState('wide')">
    <i
      class="fa-solid fa-up-right-and-down-left-from-center"
      style="font-size: x-small"
    ></i>
  </a>
</div>

<span>curl C#.NET Java JS Python PHP</span>
<hr />
<div class="scroll">


<p>Exemple Request</p>

<deckgo-highlight-code language="shell">
  <code slot="code">
    {{
      "#!/usr/bin/env bash \n
    #comment for the request  \n
    \n
    foo@bar:~$  curl https://reqbin.com/echo"
    }}
  </code>
</deckgo-highlight-code>

<p>Exemple Response</p>

<deckgo-highlight-code language="json">
  <code slot="code">
    {{
      " {
        name : 'foo',
        age : 36
      }
    "
    }}
  </code>
</deckgo-highlight-code>

<p>Test</p>
<div
  style="
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 40px;
    line-height: 40px;
  "
>
  <div
    style="
      width: 60px;
      background-color: blue;
      text-align: center;
      color: aliceblue;
    "
  >
    GET
  </div>
  <div
    class="api"
    style="
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0px 10px;
      background-color: rgb(179, 179, 247);
      border: 1px solid rgb(25, 25, 251);
    "
  >
    <div style="color: black">/api/v1/get-users</div>
    <div style="color: blue">Get All Users</div>
  </div>
</div>
<textarea id="myTextArea" rows="6">
{
name: 'jhon',
lastName : 'Doe' 
}
</textarea>

<button
  style="
    background: transparent;
    border: 2px solid gray;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #3b4151;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 23px;
    transition: all 0.3s;
    margin: 1em;
    width: 100px;
    background-color: #4990e2;
    border-color: #4990e2;
    color: #fff;
  "
>
  Execute
</button>












</div>
</div>